@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */

    --Pale-blue: #e0e8ff;
    --Bright-blue: hsl(245, 75%, 52%);

    /* Neutral */

    --Very-pale-blue: #f5f7ff;
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    --font-family-default: 'Red Hat Display', sans-serif;

    --fs-paragraph: 1rem;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

p {
    font-size: var(--fs-paragraph) !important;
}

body {
    margin: 0;
    height: 100vh;
    background:
        url('./images/pattern-background-desktop.svg') no-repeat top center,
        /* SVG at the top */
        white;
    /* Solid color for the bottom half */
    background-size: 100% auto;
    /* Ensure the SVG spans the full width */
}

@media screen and (max-width: 768px) {
    body {
        background:
            url('./images/pattern-background-mobile.svg') no-repeat top center,
            /* SVG for mobile */
            white;
        /* Solid color for the bottom half */
        background-size: 100% auto;
        /* Ensure the mobile SVG spans the full width */
    }
}